.posterLandscape {
  object-fit: contain;
  border-radius: 10px;
}

.posterPortrait {
  box-shadow: 0 5px 15px #000000;

  display: none;
  object-fit: contain;
  border-radius: 10px;
}

.tagline {
  margin-top: 30px;
  padding-bottom: 10px;
  align-self: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.modalContent::-webkit-scrollbar {
  display: none;
}

.modalAbout {
  padding: 10px;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-evenly;
  font-weight: 300;
}

.modalTitle {
  height: 12%;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalDescription {
  margin-bottom: 20px;
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 20px;
  scrollbar-width: thin; /* Firefox */
  text-align: justify;
}

.modalDescription::-webkit-scrollbar {
  display: none;
}

@media (min-width: 835px) {
  .posterLandscape {
    display: none;
  }
  .posterPortrait {
    display: flex;
    width: 38%;
  }
  .modalContent {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .modalContent__about {
    width: 58%;
    padding: 0;
    height: 100%;
  }
  .modalContent__title {
    font-size: 3.5vw;
  }
  .modalContent__description {
    font-size: 22px;
  }
}
