.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgb(36, 29, 29), rgb(30, 55, 55));
  font-size: 34px;
  padding-bottom: 15px;
  padding-top: 10px;
  color: rgb(255, 250, 240);
  cursor: pointer;
  font-weight: lighter;
  opacity: 90%;
}
