/* .searchBox {
  background-image: linear-gradient(rgb(202, 202, 202), rgb(189, 214, 209));
  border-radius: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 24px;
} */
